{% extends 'parent/base.html' %}
{% block title %}افزودن دانش‌آموز{% endblock %}
{% block content %}

    <h2>لیست تمامی دانش اموزان</h2>
{% for student in students %}
    <div>
        {{ student.first_name }} {{ student.last_name }}
        {% if student.teacher == request.user %}
            <span>دانش‌آموز شما</span>
        {% elif student.teacher is not None %}
            <span>این دانش اموز معلم دارد</span>
        {% else %}
            <a href="{% url 'school:add_student' st_id=student.id %}">اضافه کردن</a>
        {% endif %}
    </div>
    <br>
{% endfor %}

<a href="{% url 'school:teacher_profile' request.user.id %}">بازگشت به پروفایل</a>


{% endblock %}
